.order-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: white;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #7F55B1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
